:root {
    font-size: 1.25rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
  box-sizing: border-box;
}

body {
    min-height: 250px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#hosts {
    margin-bottom: 5em;
}

input[type="text"] {
    display: inline-block;
    margin-bottom: 1em;
    font-size: 1.25em;
    height: 2.5em;
    padding-left: .5em;
    padding-right: .5rem;
    margin-right: .5em;
}

.button--add {
    position: absolute;
    top: 1em;
    right: 0;
    display: flex;
    align-items: center;
}

.button--add svg {
    margin-right: .5em;
}

.button--save {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: .6666em;
    padding: .6666em;
    background-color: #de7255;
    color: white;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.button--save:focus,
.button--save:hover {
    background-color: #d04445;
}

.button--remove {
    width: 2em;
    height: 2em;
    padding: 0;
    border-radius: 50%;
}

.button--remove svg {
    margin: 0 auto;
    display: block;
    padding-left: 2px;
    padding-top: 1px;
}

button {
    outline: 0;
    border: 0;
    background-color: #f0f0f0;
    color: #202020;
    padding: .5em 1em;
    font-size: 1.25em;
    border-radius: .25em;
    box-shadow: 2px 2px 4px rgba(0,0,0,.1);
    transition: .4s background-color;
}

button:focus,
button:hover {
    background-color: #e4e4e4;
}

button svg {
    height: 1em;
    width: 1em;
    fill: #707070;
}
