:root {
    /* Font helpers. */
    --font-family-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-serif: "Iowan Old Style", "Apple Garamond", Baskerville, "Times New Roman", "Droid Serif", Times, "Source Serif Pro", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-size-1: 2.25rem;
    --font-size-0: 1.25rem;

    /* Spacing helpers. */
    --space--3: .444rem;
    --space--2: .666rem;
    --space--1: 1rem;
    --space: 1.5rem;
    --space-1: 2.55rem;

    /* Color definitions. */
    --color-paper:   #ededea;
    --color-black:   #2d2a28;
    --color-white:   #ffffff;
    --color-green:   #929825;
    --color-red:     #bf0000;
    --color-gray-70: #707070;

    font-family: var(--font-family-sans);
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    color: var(--color-black);
}

.container {
    background-color: var(--color-paper);
    margin: var(--space) auto;
    width: 100%;
}

header {
    align-items: stretch;
    border-bottom: 1px solid rgba(0,0,0,.1);
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--space-1);
}

h1 {
    font-family: var(--font-family-serif);
    font-size: var(--font-size-1);
    line-height: 1;
    margin: var(--space-1);
}

#hosts {
    margin-bottom: var(--space-1);
    margin-left: var(--space-1);
    min-height: 8em;
}

/* Hide the welcome message when there are domains added. */
#hosts:not([data-count="0"]) .initial-message {
    display: none;
}

.initial-message {
    font-size: 1.75em;
    text-align: center;
}

.initial-message img {
    display: inline-block;
    margin-bottom: var(--space--3);
    margin-left: var(--space--1);
    opacity: .5;
}

/* Let's make the initial message look a bit nicer on narrow viewports. */
@media screen and (max-width: 500px) {
    .initial-message {
        align-items: flex-end;
        display: flex;
    }

    .initial-message img {
        flex: 1 1 auto;
        margin-left: var(--space--2);
        margin-right: var(--space);
    }

    .initial-message span {
        flex: 0 1 auto;
    }
}

input[type="text"] {
    border-radius: var(--space--1);
    border: 0;
    font-size: var(--font-size-0);
    height: 2.5em;
    margin-bottom: var(--space);
    outline: 0;
    padding-left: var(--space--1);
    padding-right: var(--space-1);
}

button {
    border: 0;
    box-shadow: -2px 2px 4px rgba(0,0,0,.1);
    font-size: var(--font-size-0);
    outline: 0;
    transition: .4s background-color;
}

button:focus,
button:hover {
    cursor: pointer;
}

button svg {
    height: var(--space);
    width: var(--space);
    fill: var(--color-gray-70);
}

.button--add {
    align-items: center;
    background-color: var(--color-black);
    color: var(--color-white);
    display: flex;
    font-size: var(--font-size-0);
    padding-left: var(--space);
    padding-right: var(--space);
}

.button--add:focus,
.button--add:hover {
    background-color: var(--color-green);
}

.button--add svg {
    fill-opacity: .5;
    fill: var(--color-white);
    margin-right: var(--space--2);
}

.button--save {
    font-size: var(--font-size-0);
    background-color: var(--color-black);
    color: var(--color-white);
    display: block;
    letter-spacing: .1em;
    padding: var(--space--1);
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.button--save[disabled] {
    opacity: .2;
}

.button--save[disabled]:hover {
    cursor: initial;
    background-color: var(--color-black);
}

.button--save:not([disabled]):focus,
.button--save:not([disabled]):hover {
    background-color: var(--color-green);
}

.button--remove {
    border-radius: 50%;
    height: var(--space-1);
    left: calc(-1 * var(--space));
    padding: 0;
    position: relative;
    text-align: center;
    width: var(--space-1);
}

.button--remove svg {
    display: block;
    margin: 0 auto;
    padding: 0;
}

.button--remove:focus,
.button--remove:hover {
    background-color: var(--color-red);
}

.button--remove:focus svg,
.button--remove:hover svg {
    fill: var(--color-white);
}
