:root {
  --font-family-sans: "Segoe UI Variable Display", system-ui, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-serif: -apple-system-ui-serif, ui-serif, "Georgia", serif;
  --font-family-monospace: ui-monospace, SFMono-Regular, ui-monospace, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}
