:root {
    font-size: 1.25rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: .5rem;
    background-color: #202020;
    max-width: 15em;
    color: white;
}

h1 {
    font-size: 1rem;
    color: #de7255;
    margin: 0 0 1rem;
}

#hosts {
    display: flex;
    flex-flow: row wrap;
}

button {
    display: block;
    padding: 1em 0;
    flex: 1 1 100%;
    background-color: transparent;
    color: white;
    border: 0;
    font-size: .75rem;
    text-align: left;
}

button.current::after {
    content: '•';
    color: #ff683f;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1;
    top: .1em;
    position: relative;
    margin-left: .5em;
}

button:not(:last-child) {
    border-bottom: 1px dotted rgba(255,255,255,.2);
}

button:focus,
button:hover {
    color: #ff683f;
    cursor: pointer;
}

#preferences-button {
    padding: 0;
    display: block;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: 1.5em;
    right: 1.25em;
    opacity: .5;
    transition: .5s opacity;
}

#preferences-button:focus,
#preferences-button:hover {
    opacity: 1;
}

#preferences-button svg {
    fill: white;
    width: auto;
    display: block;
    margin: 0;
}

.hidden {
    display: none;
}
